@charset "UTF-8";

/* subContents要素
----------------------------------------------------------- */
div#subContents {
	width: 10%;
	height: 100%;
	background: #F7F7F7;
	padding: 10px;
	position: fixed;
	z-index: 20;
	background: #F7F7F7;
}

* html div#subContents {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop +100));
}

.main {
	width: 70%;
	margin: 0 auto;
}

.btn_template {
	position: absolute;
	top: 10px;
	left: 930px;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	border: solid 1px black;
	font-size: 150%;
}